{{> message}}

{{!-- search bar --}}
<div class="container search-bar">
  <div class="search-bar-outer pb-1">
    <div class="search-bar-inner">
      <form action="/search">
        <h4 class="mb-2">尋找餐廳：</h4>
        <div class="input-group">
          <input type="text" name="keyword" class="form-control" placeholder="輸入餐廳、分類 yo~"
            aria-label="Restaurant Name..." value="{{keyword}}{{#if true}}{{searchValue}}{{/if}}"
            aria-describedby="search-button" />
          <div class="input-group-append">
            <button class="btn btn-major" type="submit" id="search-button">Search <i
                class="fa-solid fa-magnifying-glass"></i></button>
          </div>
        </div>
      </form>

      <div class="d-flex justify-content-around mb-0 sortMode">
        <div>
          <i class="fa-solid fa-star"></i> <span> 新增餐廳：</span>
          <a href="/restaurants/new" class="create-link"><i class="fa-solid fa-champagne-glasses fa-lg"></i></a>
        </div>

        <div class="flex-grow-1">
          <form method="POST" action="/search" id="sort-mode">
            <select class="form-select-sm" name="sortMode" aria-label="Default select example"
              style="margin-left:5px; width: 25%">
              <option disabled>排序方式</option>
              <option value="id" {{#if sortSelect.id}}{{sortSelect.appear}}{{/if}}>默認順序</option>
              <option value="name" {{#if sortSelect.name1}}{{sortSelect.appear}}{{/if}}>A 到 Z</option>
              <option value="name DESC" {{#if sortSelect.name2}}{{sortSelect.appear}}{{/if}}>Z 到 A</option>
              <option value="rating" {{#if sortSelect.rating1}}{{sortSelect.appear}}{{/if}}>評分低到高</option>
              <option value="rating DESC" {{#if sortSelect.rating2}}{{sortSelect.appear}}{{/if}}>評分高到低</option>
              <option value="location" {{#if sortSelect.location}}{{sortSelect.appear}}{{/if}}>餐廳地區</option>
              <option value="category" {{#if sortSelect.category}}{{sortSelect.appear}}{{/if}}>食物種類</option>
            </select>
            <input type="submit" value="排列" />
          </form>
        </div>

      </div>

    </div>
  </div>
</div>

<div class="intro">
  <p><i class="fa-solid fa-star"></i> 點擊鉛筆（<i class="fa-solid fa-pen-to-square"></i>）進行編輯；垃圾桶（<i
      class="fa-regular fa-trash-can"></i>）可以刪除</p>
  <p><i class="fa-solid fa-star"></i> 點選"我的餐廳清單"可回首頁；"more"知道更多資訊</p>
</div>

{{!-- restaurant list --}}
<div class="container mt-4">
  <div class="row row-cols-2 row-cols-lg-3 g-2 g-lg-3 mx-auto">

    {{#each restaurants as |restaurant|}}
    <div class="col">
      <div class="card p-3 border bg-light">
        <img class="card-img-top" src="{{restaurant.image}}" alt="{{restaurant.name}}" />
        <div class="card-body p-3">
          <h5 class="card-title mb-1">{{restaurant.name}}</h6>
            <h6 class="card-title-en mb-1">{{restaurant.name_en}}</h6>
            <div class="restaurant-category mb-1">
              <i class="fas fa-utensils pr-2"></i>
              {{restaurant.category}}
            </div>

            <span class="badge rounded-pill bg-danger font-weight-normal">
              {{restaurant.rating}}
              <i class="fas fa-star fa-xs"></i>
            </span>

            <span>
              <a href="/restaurants/{{restaurant.id}}" style="margin-right: 1px;">more</a>
              <a href="/restaurants/{{restaurant.id}}/edit"><i class="fa-solid fa-pen-to-square"
                  style="margin-left: 2px;"></i></a>
              <form action="/restaurants/{{restaurant.id}}?_method=DELETE" method="POST" style="display: inline;">
                <button type="submit" style="background-color: transparent; border: white"><i
                    class="fa-solid fa-trash-can fa-sm"></i></button>
              </form>
            </span>

        </div>
      </div>
    </div>
    {{/each}}

  </div>
</div>

{{!-- pagination --}}
{{!-- <div class="pagination mt-3">
  <form action="/search" method="GET" style="display: inline;">
    <input type="hidden" name="page" value="{{prev}}">
    <button type="submit" class="btn btn-outline-success">prev</button>
  </form>
  <form action="/search" method="GET" style="display: inline;">
    <input type="hidden" name="page" value="{{next}}">
    <button type="submit" class="btn btn-outline-success mx-2">next</button>
  </form>
  <p class="pageNum">目前頁數: {{page}}</p>
</div> --}}